.mapbox-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96%;
  font-size: 12px;
}

.mapbox-hide {
  z-index: -1;
  left: -1000px;
}

.mapbox-show {
  z-index: 1;
  left: 0px;
}

.mapbox-close-button {
  position: absolute;
  z-index: 1;
}

.mapbox-legend-panel {
  position: absolute;
  bottom: 30px;
  right: 7px;
  background-color: whitesmoke;
  width: 150px;
  height: 120px;
  border: 1px solid #ededed;
  border-radius: 3px;
  z-index: 1;
}

.mapbox-legend-name {
  padding: 5px;
}

.mapbox_legend_color {
  width: 14px;
  height: 14px;
  margin: 7px;
  margin-right: 0;
}

.green {
  background-color: #9acd32;
}
.blue {
  background-color: #72c7fa;
}
.yellow {
  background-color: #ffff00;
}
.gold {
  background-color: #e6b31e;
}
