.header-search {
  font-weight: 200;
}

/* Search Box Scrollbar Style*/
.suggestionBoxActive {
  height: 200px;
}

.suggestionBoxInActive {
  height: 0px;
}

.suggestionBox {
  overflow: auto;
  scrollbar-color: #6c58cc #f2edeb;
}

.suggestionBox > div {
  padding: 5px;
  font-weight: 300;
  font-size: 0.9rem;
  border-top: 1px solid #a6acec;
  background-color: white;
}

.suggestionBox > div:hover {
  background-color: #6c58cc;
  cursor: pointer;
}
