/* Add Filter Button Style*/
.btn-secondary {
  background-color: #6b62fe;
}

.btn-secondary:focus,
.btn-secondary.focus {
  background-color: #6b62fe;
}

/* Add Filter Button Style*/
.FilterPanel {
  background-color: #fcfcfc;

  border-radius: 5px;
  font-size: 0.8rem;
}

.btn-outline-dark {
  background-color: #fff;
  border-color: #efefef;
  border-width: 2px;
}

.btn-outline-dark:hover {
  background-color: #a8a8a8;
  color: #fff;
  border-color: #efefef;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #a8a8a8;
  border-color: #fff;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  .container-small {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 500px;
  }
}

.container-small {
  max-width: 100%;
}
