/* Add Filter Button Style*/
.btn-secondary {
  background-color: #6b62fe;
}

.btn-secondary:focus,
.btn-secondary.focus {
  background-color: #6b62fe;
}

/* Add Filter Button Style*/
.btn-outline-dark {
  background-color: #fff;
  border-color: #efefef;
  border-width: 1px;
}

.btn-outline-dark:hover {
  background-color: #f5f5f5;
  color: #494949;
  border-color: #efefef;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #494949;
  background-color: #efefef;
  border-color: #fff;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: none;
}

/* Center Opening Filter Panel */
.filter-panel {
  position: fixed;
  height: 90vh;
  width: 430px;
  overflow-y: scroll;
  background-color: #ffffff;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.filter-options {
  background-color: #fcfcfc;

  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  border-radius: 7px;
  padding-bottom: 15px;
}
.filter-options-label {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 5px;
}

.close-filterpanel-button {
  
  background-color: tomato;
}

/* Add Filter Button Style*/
/* .FilterPanel {
  background-color: #fcfcfc;

  border-radius: 5px;
  font-size: 0.8rem;
} 

.container-small {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container-small {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .container-small {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 500px;
  }
}

*/

@media only screen and (max-width: 768px) {
  .filter-panel {
    width: 100vw;
  }
}
